<h2>List of Contacts</h2>

<div id="myBody">
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Home Phone</th>
            <th>Cell Phone</th>
            <th>Email</th>
            <th>Contact List</th>
        </thead>
        <tbody>
            <tr>
                <td>Agnes</td>
                <td>Corpuz</td>
                <td>Genesys</td>
                <td {{action "clickToDial" 3172222222}}><a href="">3172222222</a></td>
                <td></td>
                <td>testuser1@testdomain.com</td>
                <td>Sample</td>
            </tr>
            <tr>
                <td>Prince</td>
                <td>Merluza</td>
                <td>Genesys</td>
                <td {{action "clickToDial" 3172222222}}><a href="">3172222222</a></td>
                <td></td>
                <td>testuser2@testdomain.com</td>
                <td>Sample</td>
            </tr>
        </tbody>
    </table>
</div>

{{yield}}