<div style="padding-left: 50px">
    <h1 class="w3-text-deep-orange">List of Contacts</h1>
    <div id="myBody">
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Phone</th>
                <th>Email</th>
            </thead>
            <tbody>
                <tr>
                    <td>Agnes</td>
                    <td>Corpuz</td>
                    <td>Genesys</td>
                    <td {{action "clickToDial" 16328406444}}><a href="">+632-840-6444</a></td>
                    <td>testuser1@testdomain.com</td>
                </tr>
                <tr>
                    <td>Prince</td>
                    <td>Merluza</td>
                    <td>Genesys</td>
                    <td {{action "clickToDial" 3172222222}}><a href="">3172222222</a></td>
                    <td>testuser2@testdomain.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{yield}}