<div id="myBody" style="padding-left: 50px">
  <div class="w3-row w3-padding-16">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-deep-orange">PureCloud Embeddable Framework</h1>
      <p>This is a sample project using PureCloud Embeddable Framework. This project is written in Javascript using Ember Framework.</p>
      <p>Different methods of the PureCloud Embeddable Framework are used in this project such as Click to Dial, Screen Pop Up, Process Call Logs and Contact Search.</p>
    </div>
  </div>
  <div class="w3-row w3-padding-16">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-deep-orange">framework-config.js</h1>
      <p>This sample app also incorporates the dynamic setting of framework.js configuration items. Logic to set framework.js can be found in the /app/services/framework-config.js file</p>
    </div>
  </div>
</div>