<html>
    <head>
        <h1>PureCloud Embedded Framework</h1>
        <link rel="stylesheet" href="/styles/app.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="softphone">
            <iframe id="softphone" allow="camera *; microphone *" src="https://apps.mypurecloud.com/crm/index.html?crm=framework-local-secure&amp;color=darkgrey" frameborder="0"></iframe>
        </div>
        <div class="w3-top">
            <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-theme" href="/"><img src="/images/genesys_monogram_detail.png" width="50" height="50" alt="genesys.png"></a>
                <a class="w3-bar-item w3-button w3-hide-small w3-hover-white" href="/contacts">Contacts</a>
                <a class="w3-bar-item w3-button w3-hide-small w3-hover-white" href="/accounts">Accounts</a>
            </div>
        </div>
    </body>
    <footer id="myFooter">
        <div class="w3-center">
            <div class="w3-bar">
                <a class="w3-button w3-black" href="#">1</a>
                <a class="w3-button w3-hover-black" href="#">2</a>
                <a class="w3-button w3-hover-black" href="#">3</a>
                <a class="w3-button w3-hover-black" href="#">4</a>
                <a class="w3-button w3-hover-black" href="#">5</a>
                <a class="w3-button w3-hover-black" href="#">»</a>
            </div>
        </div>
        <div class="w3-container w3-theme-l2">
            <p style="text-align:center; margin: 0px;">PureCloud Embedded Framework</p>
        </div>
        <div class="w3-container w3-theme-l1">
            <p style="text-align:center; margin: 0px;">Genesys DevFoundry</p>
        </div>
    </footer>
</html>

{{outlet}}